@import "../vendor/font-awesome/css/all.min.css";
@import "../vendor/bootstrap-icons/bootstrap-icons.css";


@import "./style-rtl.css";

.bg-form {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
}


/* @tailwind base;
@tailwind components;
@tailwind utilities; */
